<template>
    <div class="wrapper">
        <main-content />
        <side-bar /> 
        <nav-bar />
        <Footer />
    </div>
</template>

<script>
import MainContent from './MainContent.vue'
import SideBar from './SideBar.vue'
import NavBar from './NavBar.vue'
import Footer from './Footer.vue'

export default {
    components: {
        MainContent,
        SideBar,
        NavBar,
        Footer
    }
}
</script>
