<template>
    <div>
        <h1>{{ msg }}</h1>
        <h1>Hello Mohsin</h1>
        <layout />
    </div>
</template>  

<script>
import Layout from '@/views/layout/Layout.vue'

export default {
    name: 'Home',
    props: {
        msg: String
    },
    components: {
        Layout
    }
}
</script>